.file-card {
    width: 100%;
    height: max-content;
    padding: 24.5px;
    background-color: #fff;
    border: 1px solid rgba(141, 138, 138, 0.397);
    border-radius: 9px;
    box-shadow: 0 3px 11px rgba(172, 170, 170, 0.267);

    .title {

        h6 {
            color: $secondary-3;
            font-weight: 600;
            margin-bottom: 0;
        }
    }

    .size {
        margin-top: 13px;

        h6 {
            color: $secondary-2;
            font-weight: 500;
            margin-bottom: 0;

            span {
                font-weight: 700;
            }
        }
    }

    .date {
        margin-top: 11px;

        p {
            color: $primary;
            margin-bottom: 0;
            font-weight: 500;
            margin-bottom: 0;

            span {
                font-weight: 700;
            }
        }
    }

    .delete-btn{
        margin-top: 28px;
        
        .btn{
            display: flex;
            align-items: center;
            gap: 12px;
            border-radius: 32px;
            padding: 6px 25px;

            p{
                margin-bottom: 0;
                font-weight: 600;
                font-size: 15px;
            }

            img{
                position: relative;
                top: -2px;
            }
        }
    }
}