.upload-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5.7rem;
    align-items: center;

    .logo {
        margin-top: 14px;

        img {
            width: 150px;
        }
    }

    .menu-items {

        ul {
            display: flex;
            margin-bottom: 0;
            height: 100%;
            gap: 24px;

            li {

                a {
                    text-decoration: none;
                    font-size: 17.6px;
                    color: $secondary-2;
                    padding: 2px 14px;
                    font-weight: 500;
                }

                #active{
                    color: $primary;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 2px solid $primary;
                }
            }
        }
    }

    .button{

        .btn{
            background-color: $primary;
            border-radius: 24px;
            padding: 7px 29px;
            font-weight: 600;
            color: #fff;
        }
    }
}