#recent-file {
    margin-top: 4rem;
    width: 100%;
    @include container;

    @include screen(small) {
        margin-top: 3.6rem;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        @include screen(small) {
            flex-direction: column;
        }

        .title {
            h4 {
                color: $primary;
                font-weight: 600;
            }
        }

        .line_after {
            @include screen(small) {
                width: 100%;
            }

            .line-container {
                width: 37px;
                height: 3px;
                background-color: $primary;
                margin-top: -3px;

                @include screen(small) {
                    width: 48px;
                    margin-top: -5px;
                    margin-left: 7px;

                }
            }


        }
    }

    &__container {
        width: 100%;
        margin-top: 25px;

        @include screen(small) {
            margin-top: 40px;
        }
    }

    .all-files {
        margin-top: 50px;
        text-align: center;

        @include screen(small) {
            margin-top: 40px;
        }

        .btn {
            background-color: $primary;
            color: #fff;
            border-radius: 32px;
            font-weight: 600;
            padding: 8.6px 60px;

            @include screen(small) {
                width: 90%;
                font-size: 14px;
            }
        }
    }

}