#upload-area{
    width: 100%;
    height: 18rem;
    border: 1px dashed $secondary-2;
    margin-top: 2.6rem;
    padding-top: 2.3rem;
    background-color: #fff;
    border-radius: 17px;

     .cloud-img{
        text-align: center;

         img{
            width: 95px;
         }
     }

     .label{
        text-align: center;
        margin-top: 12px;

         p{
            color: $secondary-2;
            font-weight: 500;
         }
     }

     .button{
        text-align: center;
        margin-top: 33px;

         .btn{
            background-color: $primary;
            color: #fff;
            border-radius: 32px;
            font-weight: 600;
            padding: 8px 46px;
         }
     }
}