$primary : #E28904;
$secondary-1 : #3C3838;
$secondary-2 :#928C8C;
$secondary-3 : #1E1E1E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

body {
    background-color: #FBFBFB;
}