$primary : #E28904;
$secondary-1 : #3C3838;
$secondary-2 :#928C8C;
$secondary-3 : #1E1E1E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
}

.vide {
    color: $secondary-2;
    margin-left: 5px;
}

.truncated-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

body {
    background-color: #FBFBFB;
}

@mixin screen($breakpoint) {
    @if $breakpoint ==small {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (min-width: 1024px) {
            @content;
        }
    }
}

@mixin screen-x($min , $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}