@import "./upload-file/header.scss";
@import "./upload-file/upload-area.scss";
@import "./upload-file/recent-file.scss";
@import "./upload-file/recent-card.scss";

#uploadFile-page {
    width: 100%;
    overflow: hidden;
    padding-bottom: 3rem;
    @include container;
}